<!DOCTYPE html>
<html>

<head>
    <title>Hương Giang</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>

<body>
    <div class="navtop">
        <div class="navbar" id="myNavbar">

            <a href="#home" class="navbar-button"><i class="fa fa-home"></i> HOME</a>
            <a href="#about" class="navbar-button "><i class="fa fa-user"></i> ABOUT</a>
            <a href="#myWork" class="navbar-button "><i class="fa fa-th"></i> MY WORK</a>
            <a href="#contact" class="navbar-button "><i class="fa fa-envelope"></i> CONTACT</a>
            <a href="#" class="navbar-button ">

            </a>
        </div>

    </div>
    <div class="wholeWeb" id="home">

        <div class="bgimg-1 ">
            <div class="headerImage" style="white-space:nowrap;">
                <span class=""> <span class="siteLogo">
                        <h1>Hương Giang</h1>
                    </span> </span>
            </div>
        </div>

        <!-- Container (About Section) -->
        <div class="aboutContainer" id="about">
            <h2 class="aboutMe">ABOUT ME</h2>

            <p></p>
            <div class="Profile">
                <div class="ProfilePicture">
                    <p><b><i class="fa fa-user"></i> Nguyễn Hương Giang</b></p><br>
                    <img src="../img/profile.jpg" class="photoOfMe" alt="Photo of Me" width="80%" height="70%">
                </div>


                <div class="ProfileText">
                    <br> <br>
                    <p style="font-size: 25px;" class="aboutMeDetait"><em>I love Traveling !</em></p>
                    <p style="font-size: 22px; padding-right: 5%;">
                        Henlo! My name is Donna. My friends gave me the nickname "Donnat" (donut) so that's what I go
                        by.
                        Welcome to my personal website where I display my digital drawings! I appreciate you coming by
                        and sticking around to learn more about me.
                        I have a passion to draw my favorite fictional characters traditionally and I'm still honing my
                        digital skills.
                        Fanart of all kinds featuring my favorite characters is wonderful!<br>
                    <p style="font-size: 30px;"> Come talk to me and don't be shy!</p>
                    </p>
                </div>
            </div>

        </div>


        <!-- Container (myWork Section) -->
        <div class="Drawing" id="myWork">
            <h2 class="myWorkHeader"> SOME OF MY WORK</h2>

            <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
            <div class="uperRow">
                <div class="solomonDrawing">
                    <img class="img" src="../img/20221202_113542.jpg" style="width:100%" alt="Pic 1">
                    <div class="middle1">
                        <div class="imgFile">1. Eve-sensei (a japanese singer from Japan) - August, 2022</div>
                    </div>
                </div>

                <div class="solomonDrawing">
                    <img class="img" src="../img/kurukuru-san_20210119124415.png" style="width:100%" alt="Pic 2">
                    <div class="middle2">
                        <div class="imgFile">2.Kurukuru-san (Dramaturgy by Eve) - August, 2021</div>
                    </div>
                </div>

                <div class="solomonDrawing">
                    <img class="img" src="../img/Untitled141_20220825105518-1.png" style="width:100%" alt="Pic 3">
                    <div class="middle3">
                        <div class="imgFile">3. Kaedehara Kazuha (Genshin Impact) - August, 2022</div>
                    </div>
                </div>

                <div class="solomonDrawing">
                    <img class="img" src="../img/redraw_gen_20210116123607.png" style="width:100%" alt="Pic 4">
                    <div class="middle4">
                        <div class="imgFile">4. Asagiri Gen Redraw (Dr. Stone) - January, 2021</div>
                    </div>
                </div>
            </div>

            <div class="lowerRow">
                <div class="solomonDrawing">
                    <img class="img" src="../img/Untitled9_20210116143850.png" style="width:100%" alt="Pic 5">
                    <div class="middle5">
                        <div class="imgFile">5. Sailor Kenma - December, 2020</div>
                    </div>
                </div>

                <div class="solomonDrawing">
                    <img class="img" src="../img/Untitled54_20210117070646.png" style="width:100%" alt="Pic 6">
                    <div class="middle6">
                        <div class="imgFile">6. Asagiri Gen (Dr. Stone) - April, 2020</div>
                    </div>
                </div>

                <div class="solomonDrawing">
                    <img class="img" src="../img/Untitled53_20210116213345.png" style="width:100%" alt="Pic 7">
                    <div class="middle7">
                        <div class="imgFile">7. Ishihami Senku (Dr. Stone) - April, 2020</div>
                    </div>
                </div>

                <div class="solomonDrawing">
                    <img class="img" src="../img/Untitled21_20210110075808.png" style="width:100%" alt="Pic 8">
                    <div class="middle8">
                        <div class="imgFile">8. KuroKen (Haikyu!!) - January, 2021</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal01" onclick="this.style.display='none'">

            <div>
                <img id="img01" class="">
                <p id="caption" class=""></p>
            </div>
        </div>
        <br><br><br>

        <div class="bgimg-3 ">
            <div class="contact">
                <span class="contactLogo">
                    <h2>CONTACT ME</h2>
                </span>
            </div>
        </div>

        <div class="contactContainer" id="contact">
            <h3 class="contactHeader"></h3>


            <div>
                <div>

                </div>
                <div class="contactInformation">
                    <div class="">
                        <p><em>I'd love your feedback!</em></p>
                        <i class="fa fa-map-marker"> Việt Nam</i> <br>
                        <i class="fa fa-phone"> Phone: +0382146655</i> <br>
                        <i class="fa fa-envelope"> Email: solomondonnafe@gmail.com</i><br>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <footer class="footer">
        <a href="#home" class="toTheTopBtn"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="LinkToMedia">
            <!-- facebook -->
            <a href="https://www.facebook.com/phuong.trang.52831666" class="MediaButton"><i
                    class="fa fa-facebook-official "></i></a>
            <!-- twitter -->
            <a href="https://twitter.com/o0natsuu0o?t=m-dwdxYBstIEVOlsDdRu6A&s=09" class="MediaButton"><i
                    class="fa fa-twitter "></i></a>
            <!-- instagram -->
            <a href="https://www.instagram.com/im.huonggianggg/?fbclid=IwAR22Si0wO084hMxh02S7PtZXLU3lJsxqDZK1G4bLdQ7kSPnLFWecZMU9qaY"
                class="MediaButton"><i class="fa fa-instagram "></i></a>

        </div>
    </footer>

</body>

</html>